@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Raleway:wght@200&display=swap');
body{
    margin:0;
    font-family: 'Inter', sans-serif
}
.product-header{
    font-size: 50px;
    position: relative;
    z-index: 20;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color:yellowgreen;
    margin:100px 30px;
    text-align: center;
    text-transform: capitalize;
}