<link rel="stylesheet" href="/css/components/layouts/header.css" type="text/css">
<div class="header-container">
    <div class="header">
        <div class="header-top-element">
            <div class="header-contact">
                <div class="header-contact-phone">0935395105</div>
                <div class="header-contact-email">khoiered@beex.asia</div>
            </div>
            <div class="header-spacing"></div>
            <div class="header-navigation">
                <div class="header-navigation-blog">Blog</div>
                <div class="header-navigation-about">About Us</div>
            </div>
        </div>
        <div class="header-customer-navigation">
            <a href="/page/index" class="header-customer-navigation-logo"><img src="/images/icons/logo.jpg" alt="logo" style="width:180px;height:180px"/></a>
            <div class="header-customer-navigation-search">
                <select name="category" value="all-category" id="category-dropdown-filter" class="header-customer-navigation-search-dropdown">
                    <option value="all-category" class="header-customer-navigation-search-dropdown">All Categories</option>
                </select>
                <div class="header-customer-navigation-search-bar">
                    <input type=text id="search-category-input" class="header-customer-navigation-search-bar-input" placeholder="Search">
                    <button class="header-customer-navigation-search-bar-button"><img src="/images/icons/search.svg"></button>
                </div>
            </div>
            <div class="header-customer-navigation-container">
                <div class="header-customer-navigation-profile">
                    <img style="width:30px" class="header-customer-navigation-profile-btn" src="/images/icons/person.svg">
                </div>   
                <a href="/page/checkout/1234567891" class="header-customer-navigation-cart">
                    <img class="header-customer-navigation-cart-btn" src="/images/icons/bag.svg"/>
                </a>
                <%-include('./orderList.ejs')%>
            </div>
        </div>
    </div>
</div>