<div class="tag-list-container">
    <div class="tag-list-title">
        Product tags :
    </div>
    <div class="tag-item-container">
        <div class="tag-pair">
            <div class="tag-item">Meat</div>
            <div class="tag-item">Wine</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Fruit</div>
            <div class="tag-item">Vegetable</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Oil</div>
            <div class="tag-item">Noodles</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Rice</div>
            <div class="tag-item">Fish</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Chicken</div>
            <div class="tag-item">Flower</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Candle</div>
            <div class="tag-item">Mushroom</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Milk</div>
            <div class="tag-item">Sea foods</div>
        </div>
    </div>
</div>