<link rel="stylesheet" href="/css/advertisement_slide.css"/>
<div class="slide-fade-container">
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">

        </p>
        <img src="/images/thumbnails/thumbnail1.jpg" alt="thumbnail1" class="slide-fade-element-thumbnail">
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <img src="" alt="thumbnail2" class="slide-fade-element-thumbnail">
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <img src="" alt="thumbnail3" class="slide-fade-element-thumbnail">
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <img src="" alt="thumbnail4" class="slide-fade-element-thumbnail">
    </div>
</div>
<div style="text-align:center">
    <span class="dot"></span> 
    <span class="dot"></span> 
    <span class="dot"></span> 
</div>