<link rel="stylesheet" href="/css/components/categories.css"/>
<div class="category-container">
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    <select name="" id="" class="category-list" value="category">
        <option value="category">Category</option>
    </select>
    
</div>